<div class="container">
	<div class="row">
		<div class="col-lg-4 col-lg-offset-4">
			<form name="stock-entry-form" id="stock-entry-form">
				<div class="row">
					<div class="col-lg-12">
						<div class="form-group input-group">
							<h3>Stock-Cash Market Data Entry</h3>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<div *ngIf="showSuccMsg" class="alert alert-success">
							{{showSuccMsg}}
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<div *ngIf="showErrorMsg" class="alert alert-danger">
							{{showErrorMsg}}
						</div>
					</div>
				</div>
				<div class="form-group input-group">
		            <span class="input-group-addon"><i class="glyphicon glyphicon-date"></i></span>
		            <input class="form-control" type="date" name="date" id="date" placeholder="Choose Date"
		            	required [(ngModel)]="stock.date"/>
	          	</div>
	          	<div class="form-group">
	          		<select name="selectExchanges" [(ngModel)]="stock.selectedExchange" class="form-control" >
						<option *ngFor="let exchange of exchanges" [ngValue]="exchange._id">
								{{exchange.name}}
						</option>
					</select>
	          	</div>
	          	<div class="form-group">
	          		<select name="selectedSecurity" [(ngModel)]="stock.selectedSecurity" class="form-control" >
						<option *ngFor="let security of securities" [ngValue]="security._id">
								{{security.securityname}}
						</option>
					</select>
	          	</div>
	          	<div class="form-group input-group">
		            <span class="input-group-addon"><i class="glyphicon glyphicon-date"></i></span>
		            <input class="form-control" type="text" name='marketprice' placeholder="Cash Market Price"	 [(ngModel)]="stock.marketprice" required />
	          	</div>
	          	<div class="form-group">
					<button type="button" class="btn btn-danger btn-block"
						(click)="btnClickSaveStockList()">
					Save Stock Entry
					</button>
	          	</div>
	          	<div class="form-group">
					<button type="button" class="btn btn-warning btn-block"
						(click)="btnClickCancelStockList()">
					Cancel
					</button>
	          	</div>
			</form>
		</div>
	</div>
</div>