#stock-nav {
	background-color: #F8F8F8;
	/*#d0ccae;*/
	/*#dad3a0;*/
	color: #900000;
}

#stock-nav .container-fluid {
	padding: 0;
}

#stock-nav a{
	color: #900000;
}

#stock-nav .active {
	background-color: #900000;
    color: #fff;
}

#stock-nav a:hover {
	background-color: #900000;
    color: #fff;
}

.lblWelcomeMsg {
	margin-top: 15px;
}

